body{
    font-family:sans-serif;
}
.background{
    background-image:url("./images/Japanese_Clasws_Form_Background.png");
    background-repeat: repeat;
    background-size:cover;
      margin:5em 0 5em 0;
      align-items:center;
      justify-content:center;
      display:flex;
      justify-content:center;
      height:100vh;
    }
    
	.form{
      margin:1em;
      display:flex;
      flex-direction: column;
      justify-content: center;
      background:white;
      border:1px solid rgb(51, 48, 48);
      padding:2em;
      border-radius:1em;
      -moz-box-shadow: 0 15px 10px  gray;
      -webkit-box-shadow: 0 12px 10px gray;
      -webkit-backdrop-filter:blur(5px);
      backdrop-filter:blur(9px);
      box-shadow: 0 12px 10px  gray;
      width: 50% !important;
      background-color: rgba(255, 255, 255, 0.3);
	}

  .message-box{
      margin:1em;
      flex-direction: column;
      justify-content: space-between;
      align-items:center;
      background:white;
      border:1px solid lightgrey;
      padding:2em;
      border-radius:1em;
      -moz-box-shadow: 0 15px 10px  gray;
      -webkit-box-shadow: 0 12px 10px gray;
      -webkit-backdrop-filter:blur(5px);
      backdrop-filter:blur(9px);
      box-shadow: 0 12px 10px  gray;
      width: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      text-align:center;
	}

    .app-component-border{
        border-width:0.5em;
        border-style: solid;
        border-image: radial-gradient(rgb(255, 255, 255), rgb(168,0,0)) 1;
    }

    .logo{
        background-image: url("./images/japanese-class-logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        height:5.375em;
        object-fit:cover;
    }

    .field-group{
    	display:flex;
        flex-direction:column;
    }
    
    .app-btn-nav{
        font-size:0.7em;
        height:100% !important;
        letter-spacing:0.10em;
        margin:0 0.2em 0 0.2em !important;
        border-radius: 0 !important;
        background-color:white!important;
        color:darkred!important;
        background-image:none;
    }

    .app-btn-nav:hover{
        font-size:0.7em;
        height:100% !important;
        letter-spacing:0.10em;
        border-radius: 0 !important;
        color:white!important;
        background-color:white!important;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgba(168,0,0,1) 100%);
    }

    .selcted-item-container{
        max-height:10em;
        min-height: 3em;
        overflow: scroll;
    }

    .app-button-small.text-overflow-elipses,
    .text-overflow-elipses{
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    .selcted-item-container div{
        width: 15em !important;
    }

    .app-btn-nav:visited{
        font-size:0.7em;
        height:100% !important;
        letter-spacing:0.10em;
        border-radius: 0 !important;
        color:white!important;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgba(168,0,0,1) 100%);
    }

    .text-input{
    	padding:0.5em 0.5em 0.5em 0.5em;
        background: white(8, 8, 8);
        color:black;
        font-size:1rem;
        border-width:0.5em;
        border-style: solid;
        border-image: radial-gradient(rgb(255, 255, 255), rgb(168,0,0)) 1;
    }

    .text-input:focus{
        border:none;
        outline-width: 0 !important;
        border-width:0.5em;
        border-style: solid;
        background: rgb(245, 245, 245);
        border-image: radial-gradient(rgb(232, 147, 147), rgb(88, 7, 7)) 1;
    }
    
    .app-button-small{
        letter-spacing:0.2em;
        font-family:sans-serif;
        cursor:pointer;
        text-overflow: ellipsis !important;
        overflow: hidden;
        border-radius:0px;
        color:white !important;
        text-decoration:none;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgba(168,0,0,1) 100%);
    }

    .app-button-small:hover{
        letter-spacing:0.2em;
        font-family:sans-serif;
        border-radius:0px;
        color:white !important;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgba(168,0,0,1) 100%);
    }

    .app-button-small:visited{
        letter-spacing:0.2em;
        font-family:sans-serif;
        border-radius:0px;
        color:white !important;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgba(168,0,0,1) 100%);
    }

    .app-button-small-selected{
        color:white !important;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgb(36, 3, 3) 100%);
    }

    .app-button-small-selected:hover{
        color:white !important;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgb(36, 3, 3) 100%);
    }

    .app-button-small:visited{
        color:white !important;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgb(36, 3, 3) 100%);
    }

    .cancel{
        background-color:white!important;
        color:darkred!important;
        background-image:none;
    }

    .close-button{
        color:white;
        z-index:1000;
    }

    .list-container{
        height:20em;
    }

    .app-button:hover{
    	border-radius:0px;
        border:none;
        padding:1em;
        font-family:sans-serif;
        font-size:1em;
        letter-spacing:0.2em;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgba(168,0,0,1) 100%);
        display:flex;
        justify-content:center;
        color:white;
        cursor:pointer;
    }

    .app-button{
    	border-radius:0px;
        border:none;
        padding:1em;
        font-family:sans-serif;
        font-size:1em;
        width:100% !important;
        letter-spacing:0.2em;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgba(168,0,0,1) 100%);
        display:flex;
        justify-content:center;
        color:white;
        cursor:pointer;
    }

    .app-button:visited{
    	border-radius:0px;
        border:none;
        padding:1em;
        font-family:sans-serif;
        font-size:1em;
        width:100%;
        letter-spacing:0.2em;
        background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgba(168,0,0,1) 100%);
        display:flex;
        justify-content:center;
        max-width:15em;
        color:white;
        cursor:pointer;
    }

    .not-valid{
      border:0.5em solid red;
      background-color:#F59592;
    }

    .validator{
      display: block;
      color:darkred;
      font-size:0.8em;
      letter-spacing: 0.2em;
    }

    .loadingMessage{
      color:rgba(107,0,0,1);
    }

	 @keyframes button-click {
      0%{background-image:radial-gradient(circle at top right, rgba(255,255,255,1) -90%, rgba(168,0,0,1) 100%);}
        50%{background-image:radial-gradient(circle at top left, rgb(232, 147, 147) -90%, rgb(88, 7, 7) 100%);}
	}

    .app-button:active{
        background-image:radial-gradient(circle at top right, rgb(232, 147, 147) -90%, rgb(88, 7, 7) 100%);
	}

    .info{
        color:grey;
        font-weight:200;
        font-size:0.45em;
        text-align:right;
        margin-top: inherit;
        width:100%;
        letter-spacing:0.21em;
    }

    @media screen and (max-width: 52.1875em){
        .form{
            width: 75% !important;
        }
        .logo{
            background-position: center;
            margin-bottom:0px;
        }
        .message-box{
            margin:0 0.5em 0 0.5em !important;
            width: 75% !important;
        }
        .field-group label{
            flex-direction: column;
            align-content: center;
            justify-content: start;
        }
        .info{
            color:grey;
            font-weight:200;
            font-size:0.4em;
            text-align:left;
            letter-spacing:0.5em;
            margin-top: inherit;
            width:100%;
        }
    }

    @media screen and (max-width: 36em){
        .form{
            width: 100% !important;
            padding:0 1em 0 1em;
            margin:0 0.5em 0 0.5em;
        }

        .field-group label{
            font-size:1.3em;
        }

        .text-input{
            border-width:0.3em;
        }

        .text-input:focus{
            border-width:0.3em;
        }

        .logo{
            background-position: center;
            margin-bottom:0px;
        }

        .field-group{
            margin: 1em 0 1em 0;
        }

        .button-group{
            display:flex !important;
            justify-content:center;
            align-items: center;
        }
        
        .message-box{
            margin:0 0.5em 0 0.5em !important;
            width: 75% !important;
            text-align: center;
            display: flex;
            align-items: center;
            letter-spacing:0.25em;
        }

        .button-group button{
            width:100%;
        }

        .info{
            color:grey;
            font-weight:200;
            font-size:0.4em;
            text-align:left;
            letter-spacing:0.5em;
            margin-top: inherit;
            width:100%;
        }
    }